# Copia a .env si quieres sobreescribir valores por defecto
OTEL_SERVICE_NAME=nest-graphql-sample
# Endpoint OTLP HTTP de trazas
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
# Endpoint OTLP HTTP de logs
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:4318/v1/logs
# Desactiva el SDK (útil para depurar sin enviar trazas)
# OTEL_SDK_DISABLED=true
